@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueAltLight.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueAltRegular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueAltMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueAltSemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueBold.otf") format("opentype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  margin: auto;
}

html {
  font-size: 62.5%;
  font-family: "Galano";
}

body {
  font-family: "Galano";
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding-left: 8em !important;
  padding-right: 8em !important;
}
@media (max-width: 770px) {
  .container {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
}

.btn__primary {
  border: none;
  background-color: #055445;
  color: #fff;
  display: flex;
  width: max-content;
  white-space: nowrap;
  align-items: center;
  border: none;
  height: 50px;
  border-radius: 4px;
  padding: 1.8em 1.5em;
  font-weight: 500;
  font-size: 1.7rem;
  height: 5rem;
  cursor: pointer;
  font-family: "Galano";
}
.btn__primary:hover {
  transition: all 0.2s ease;
  background-color: #427b70;
}
.btn__primary svg,
.btn__primary img {
  margin-left: 5rem;
}

.text {
  font-size: 4rem;
  font-weight: 500;
}
.text--green {
  color: #055445;
}
.text--orange {
  color: #F2994A;
  font-size: 2rem;
  font-weight: 500;
}

.header {
  background: #e4ffe1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e4ffe1;
  padding: 5rem 0;
}

.nav-link {
  text-decoration: none;
  color: #252122;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 3rem;
}
.nav-link--mobile {
  margin-left: 0;
  margin-bottom: 6rem;
}
.nav-link:hover {
  color: #808080;
}
.nav-link:active {
  color: #055445;
}
@media (max-width: 770px) {
  .nav-desktop {
    display: none;
  }
}
.nav-mobile {
  display: none;
}
@media (max-width: 770px) {
  .nav-mobile {
    display: block;
  }
}
.nav-mobile-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.nav-mobile-header .nav-toggle {
  justify-self: flex-end;
}
.nav-mobile-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0000001f;
  display: none;
  z-index: 999;
  min-height: 100vh;
}
.nav-mobile-menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  min-width: 320px;
  left: -100%;
  z-index: 1000;
  transition: all 0.5s ease;
  padding: 2em;
}
.nav-mobile-menu .menus {
  display: flex;
  flex-direction: column;
}
.nav-toggle:checked ~ .nav-mobile-menu {
  left: 0;
}
.nav-toggle:checked ~ .nav-mobile-menu ~ .nav-mobile-overlay {
  display: block;
}

#nav-toggle {
  display: none;
}

.footer {
  background: linear-gradient(0deg, #e4ffe1 -11.52%, rgba(228, 255, 225, 0) 111.02%), #fbfbfb;
  padding: 100px 0;
  width: 100%;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer .container .footer-cta {
  flex: 1;
}
.footer .container .footer--links {
  flex: 3;
  flex-direction: column;
}
.footer .container .footer--links-caption div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .footer--links-caption div hr {
  width: 75%;
  height: 1px;
  background-color: rgba(5, 84, 69, 0.3);
}
.footer-cta {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.footer-cta p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer--links {
  display: flex;
  margin-top: 20px;
}
.footer--links-caption {
  display: none;
}
.footer--links-items {
  display: flex;
  flex-wrap: wrap;
}
.footer--links-items p {
  font-size: 1.5rem;
}
.footer--links-items div.col {
  flex-direction: column;
}
.footer--links-items div.flex-1 {
  width: 100%;
}
.footer--links-items div {
  width: 50%;
}
.footer--links-items div h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #055445;
  margin-bottom: 12px;
}
.footer--links-items div ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer--links-items div ul li {
  margin-bottom: 12px;
}
.footer--links-items div ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
  }
  .footer-cta {
    margin-right: 83px;
  }
  .footer--links {
    margin-top: 0;
  }
  .footer--links-caption {
    display: block;
  }
  .footer--links-caption .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer--links-caption .container hr {
    width: 70%;
    height: 0.5px;
    background: none;
    border: none;
  }
  .footer--links-items {
    justify-content: space-between;
    width: 100%;
  }
  .footer--links-items div,
.footer--links-items div.flex-1 {
    width: 30%;
  }
  .footer--links-items .col div {
    width: 100%;
  }
}

.hero {
  background: #e4ffe1;
  height: 70vh;
  position: relative;
  width: 100%;
  background-image: url(../assets/images/line.svg);
  background-position: center;
  background-size: 100% 1000px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.hero-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hero-content--banner {
  width: 100%;
  max-width: 410px;
}
@media (max-width: 770px) {
  .hero-content--banner {
    display: none;
  }
}
.hero-content__right {
  font-family: "Galano";
}
.hero-content__right h1 {
  font-size: 4rem;
  font-weight: 500;
  color: #055445;
  margin-bottom: 2rem;
}
.hero-content__right p {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 2rem;
}

.BecomeAnAgent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20rem;
  padding-left: 14rem;
  padding-right: 5rem;
}
@media (max-width: 1041px) {
  .BecomeAnAgent {
    flex-direction: column;
    padding-left: 2rem;
    margin-top: 5rem;
  }
}
.BecomeAnAgent-right {
  position: relative;
  z-index: 1;
}
.BecomeAnAgent-left {
  position: relative;
  z-index: 1;
}
@media (max-width: 770px) {
  .BecomeAnAgent-left {
    margin-bottom: 8rem;
  }
}
.BecomeAnAgent-left > *:not(:last-child) {
  margin-bottom: 2rem;
}
.BecomeAnAgent-left p {
  color: #828282;
  font-size: 1.6rem;
  font-weight: 300;
  padding-right: 20rem;
}
@media (max-width: 1108px) {
  .BecomeAnAgent-left p {
    padding-right: 0rem;
  }
}
.BecomeAnAgent-left h2 {
  text-transform: uppercase;
}

.BtnFeatures__BFS {
  position: absolute;
  top: 120px;
  z-index: 1;
  left: 7rem;
}
.BtnFeatures__BFS--bfs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BtnFeatures__BFS--bfs-container--Why-us-btn {
  font-weight: 500;
  font-size: 1.6rem;
  max-width: 366px;
  width: 100%;
  margin: 12px 0;
  display: flex;
  color: #055445;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(5, 84, 69, 0.2);
  box-shadow: 10px 10px 35px rgba(230, 227, 227, 0.5);
  background: white;
  padding: 0 0.5em;
}
.BtnFeatures__BFS--bfs-container--Why-us-btn__why-us-text {
  margin: 0 25px;
}
.BtnFeatures__BFS--bfs-container--Why-us-btn--why-us-btn-active {
  border: 0.759454px solid #f6f6f6;
  box-shadow: 10px 10px 35px rgba(230, 227, 227, 0.5);
  background: #055445;
  color: white;
}
.BtnFeatures__BFS--bfs-container--Why-us-btn--dot {
  width: 5.85px;
  padding: 3px;
  margin: 5px 0;
  background: grey;
  border-radius: 50%;
}
.BtnFeatures__BFS--bfs-container--Why-us-btn--active-line {
  width: 5.85px;
  height: 27.85px;
  background: #055445;
  border-radius: 5px;
}
.BtnFeatures__BFS--bfs-container--Why-us-btn__WhyUs-btn-container__Why-us-btn {
  font-weight: 500;
  font-size: 1.6rem;
  max-width: 366px;
  width: 100%;
  padding: 32px;
  display: flex;
  color: #055445;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(5, 84, 69, 0.2);
  box-shadow: 10px 10px 35px rgba(230, 227, 227, 0.5);
  background: white;
}
.BtnFeatures__BFS--bfs-container--Why-us-btn__WhyUs-btn-container__Why-us-btn__why-us-text {
  margin: 0 25px;
}
.BtnFeatures__BFS--bfs-container--Why-us-btn__WhyUs-btn-container--why-us-btn-active {
  border: 0.759454px solid #f6f6f6;
  box-shadow: 10px 10px 35px rgba(230, 227, 227, 0.5);
  background: #055445;
  color: white;
}

.ES {
  height: 409px;
}
@media (min-width: 1024px) {
  .ES {
    height: 555px;
  }
}

.Emage__ES__es-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 309px;
}
@media (min-width: 1024px) {
  .Emage__ES__es-container {
    height: 469px;
  }
}
.Emage__ES__es-container--dot-emage {
  display: flex;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 141px;
  min-width: 300px;
  background-image: url(../assets/images/dots.svg);
}
@media (min-width: 768px) {
  .Emage__ES__es-container--dot-emage {
    max-width: 800px;
  }
}
@media (min-width: 1024px) {
  .Emage__ES__es-container--dot-emage {
    width: 446px;
    height: 294px;
  }
}
.Emage__ES__es-container--polsqa-emage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 300px;
}
@media (min-width: 1024px) {
  .Emage__ES__es-container--polsqa-emage {
    width: 546px;
  }
}

/*# sourceMappingURL=style.css.map */
