.footer {
  background: linear-gradient(
      0deg,
      #e4ffe1 -11.52%,
      rgba(228, 255, 225, 0) 111.02%
    ),
    #fbfbfb;
  padding: 100px 0;
  width: 100%;
  .container {
    display: flex;
    flex-direction: column;
    .footer-cta {
      flex: 1;
    }
    .footer--links {
      flex: 3;
      flex-direction: column;

      &-caption {
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          hr {
            width: 70%;
            height: 1px;
            background-color: rgba(5, 84, 69, 0.3);
          }
          p {
            font-weight: 500;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  &-cta {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &--links {
    display: flex;
    margin-top: 20px;
    &-caption {
      display: none;
    }
    &-items {
      p {
        font-size: 1.5rem;
      }
      display: flex;
      flex-wrap: wrap;
      div.col {
        flex-direction: column;
      }
      div.flex-1 {
        width: 100%;
      }
      div {
        width: 50%;
        h2 {
          font-size: 1.5rem;
          font-weight: 500;
          color: #055445;
          margin-bottom: 12px;
        }
        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          li {
            margin-bottom: 12px;
            a {
              text-decoration: none;
              color: #000;
              font-size: 1.5rem;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
    &-cta {
      margin-right: 83px;
    }
    &--links {
      &-caption {
        display: block;
        .container {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          hr {
            width: 70%;
            height: 0.5px;
            background: none;
            border: none;
          }
        }
      }
      margin-top: 0;
      &-items {
        justify-content: space-between;
        width: 100%;
        div,
        div.flex-1 {
          width: 30%;
        }
        .col {
          div {
            width: 100%;
          }
        }
      }
    }
  }
}
