.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding-left: 10em !important;
    padding-right: 10em !important;

    @media (max-width: 770px) {
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
}