.careers {
  background: url("/assets/images/large-bg.svg") no-repeat center;
  background-size: 100%;
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    h3 {
      color: #d67a20;
      font-size: 1.5rem;
      font-weight: 500;
    }
    h1 {
      font-size: 3.5rem;
      color: #055445;
      font-weight: 500;
      padding: 10px 0;
    }
    p {
      font-weight: 500;
    }
    button {
      margin: 20px auto;
    }
  }
  @media (min-width: 770px) {
    background-size: 100% 200%;
    .container {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}
