@import "./utility";
@import "./navbar";
@import "./footer";
@import "./hero";
@import "./careers.scss";

@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueAltLight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueAltRegular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueAltMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueAltSemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Galano";
  src: url("../assets/fonts/GalanoGrotesqueBold.otf") format("opentype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  margin: auto;
}

html {
  font-size: 62.5%;
  font-family: "Galano";
}

body {
  font-family: "Galano";
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}
